root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true
emacs_charset = utf-8-unix

[{*.sh,*.inc,*.ygpp}]
indent_size = 4
indent_style = tab
file_type_emacs = sh

[*.md]
trim_trailing_whitespace = false
